.main-block{
    margin-top: 60px;
    font-family: Roboto;
}

.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .item-block{
        padding-top : 40px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
        border-right: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
        display: flex;
        flex-direction: column;

        .image-block{
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        .item-name{
            font-weight: 400;
            height: 40px;
            margin-bottom: 5px;
            overflow: hidden;
        }

        .item-ratings{
            display: flex;
            margin-bottom: 10px;
            align-items: center;

            .rating-quality{
                width: 100px;
                margin-right: 6px;
                img{
                    width: 100%;
                }
            }

            .rating-quantity{
                color: rgb(1, 124, 182);
                cursor: pointer;
                margin-top: 3px;
            }
        }

        .item-price{
            font-weight: 700;
            margin-bottom: 10px;
        }

        .item-added{
            color: rgb(6, 125, 98);
            font-size: 16px;
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            opacity: 0;
            
            img{
                height: 20px;
                margin-right: 5px;
            }
        }

        .item-quantity{
            margin-bottom: 17px;
            
            select{
                cursor: pointer;
                font-size: 15px;
                width: 50px;
                padding: 3px;
                border: 1px solid rgb(179, 177, 177);
                border-radius: 5px;
                background-color: rgb(246, 242, 242);
            }

        }

        .add-to-cart-btn{
            cursor: pointer;
            border: none;
            background-color: rgb(255, 216, 20);
            border: 1px solid rgb(252, 210, 0);
            box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
            width: 100%;
            padding: 8px;
            border-radius: 50px;
        }

        .add-to-cart-btn:hover{
            background-color: rgb(247, 202, 0);
            border: 1px solid rgb(242, 194, 0);
        }

        .add-to-cart-btn:active{
            background: rgb(255, 216, 20);
            border-color: rgb(252, 210, 0);
            box-shadow: none;
        }

    }
}
